.loader-container_ {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #06060b80;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loading-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.loading-btn div {
  border: 4px solid #ea445a;
  width: 24px;
  height: 24px;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 0.7s linear infinite;
}

.loader-spinner {
  width: 32px;
  height: 32px;
  border: 4px solid #3b82f6;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
