.modal-overlay {
  position: fixed;
  inset: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-arrow:hover {
  cursor: pointer;
  transition: ease-in;
  transition-duration: 300ms;
}

.modal-content {
  width: 100%;
  max-width: 560px;
  border-radius: 8px;
  max-height: 90%;
  overflow: hidden;
  background: white;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  padding: 28px;
  position: relative;
}

.modal-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.modal-top h3 {
  color: #06060b;
  font-weight: 900;
  font-size: 24px;
}

.close-btn {
  position: absolute;
  top: 12px;
  right: 16px;
  background: transparent;
  border: none;
  font-size: 14px;
  color: #555;
  cursor: pointer;
}

.close-btn:hover {
  color: #000;
}

.event-details-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.event-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  gap: 24px;
}

.event-img {
  height: 400px !important;
  width: 400px !important;
  border-radius: 8px;
}

.close-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  border: 1px solid #e1e1e1;
}

.close-icon:hover {
  cursor: pointer;
  transition: ease-in;
  transition-duration: 300ms;
  background: #f9f9f9;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.details > h3 {
  font-weight: 900;
  font-size: 40px;
  color: #111021;
  line-height: 48px;
  letter-spacing: 0;
}

.date-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.date-container > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.date-left {
  display: flex;
  gap: 16px;
  align-items: center;
}

.date-left > div {
  display: flex;
  flex-direction: column;
}

.get-tickets-btn {
  height: 56px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ea445a;
  font-size: 16px;
  color: #fbfbfd;
  font-weight: 900;
  border-radius: 56px;
}

.get-tickets-btn:hover {
  background: #f690a2;
  transition: ease-in;
  transition-duration: 300ms;
  cursor: pointer;
}

.not-selected {
  background: #e1e1e8;
  color: gray;
}

.not-selected:hover {
  background: #e1e1e8;
  transition: ease-in;
  transition-duration: 300ms;
  color: gray;
  cursor: not-allowed;
  opacity: 70%;
}

.modal-footer {
  display: flex;
  align-items: center;
  border-top: 1px #e1e1e8 solid;
  margin-top: 2rem;
  padding-top: 20px;
  justify-content: space-between;
}

.modal-footer div {
  display: flex;
  align-items: center;
  color: #666481;
}
