@import "./fonts.css";

:root {
  --font-primary: "Satoshi", sans-serif;
}

* {
  font-family: var(--font-primary);
  letter-spacing: 0;
}

button {
  padding: 0px !important;
}

.my-package-container h1,
.my-package-container h2,
.my-package-container h3,
.my-package-container h4,
.my-package-container h5,
.my-package-container h6,
.my-package-container p,
.my-package-container ul,
.my-package-container ol,
.my-package-container li,
.my-package-container button {
  all: unset !important;
  display: revert !important;
  margin: 0 !important;
  padding: 0 !important;
  font: inherit !important;
  color: inherit !important;
  box-sizing: border-box !important;
}
