@media (min-width: 768px) {
  .gruve-echo-go-back-btn {
    order: 1 !important;
  }

  .gruve-event-loader-container-order {
    order: 2 !important;
  }

  .gruve-echo-submit-btn {
    order: 2 !important;
  }
  .gruve-echo-ctn-container {
    flex-direction: row !important;
    justify-content: space-between !important;
  }
  .gruve-echo-ctn-container * {
    width: 50%;
  }
}

.gruve-echo-ctn-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 16px;
  padding-top: 16px;
}

.gruve-echo-ctn-container * {
  width: 100%;
  border-radius: 56px;
  height: 56px;
}

.gruve-echo-go-back-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  order: 2;
  border: 1px solid #e1e1e8;
}

.gruve-echo-go-back-btn:hover {
  background: #f7f7f7;
  cursor: pointer;
  transition: 300ms ease-in-out;
}

.gruve-event-loader-container-order {
  order: 1;
}

.gruve-echo-submit-btn {
  background-color: #ea445a;
  color: white;
  font-weight: bold;
  border: none;
  order: 1;
  cursor: pointer;
}

.gruve-echo-submit-btn:hover {
  cursor: pointer;
  transition: 200ms ease-in-out;
  opacity: 70%;
}

.gruve-echo-form-group {
  padding-top: 20px;
}

.gruve-echo-form-gr-t {
  padding-top: 16px;
}
.gruve-echo-form-group label {
  display: block;
  font-size: 18px;
  font-weight: 900;
}

.gruve-echo-form-group span {
  font-size: 14px;
  color: #666481;
  line-height: 20px;
}

.gruve-echo-radio-options label {
  display: flex;
  align-items: center;
  gap: 4px;
}

.gruve-package-s input,
.gruve-package-s select,
.gruve-package-s textarea {
  padding: 0.75rem;
  border: 1px solid #e1e1e8;
  border-radius: 0.5rem;
  font-size: 14px;
  color: #666481;
}

.gruve-echo-radio-options {
  display: flex;
  gap: 1rem;
  margin-top: 0.55rem;
}

.gruve-echo-ticket-section {
  border: 1px solid #e1e1e8 !important;
  padding: 1rem !important;
  display: flex;
  flex-direction: column;
  gap: 24px;

  margin-top: 20px;
  margin-bottom: 4px;
  border-radius: 0.5rem;
}

.gruve-echo-form-items {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.gruve-echo-ticket-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gruve-echo-delete-btn {
  background: none;
  display: flex;
  align-items: center;
  gap: 4px;
  color: #666481;
  border: none;
  cursor: pointer;
}

.gruve-echo-whatsapp-input {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.gruve-echo-whatsapp-input span {
  padding: 0.75rem;
  background: #f0f0f0;
  border-radius: 0.5rem;
}

.gruve-echo-error-text {
  color: #ea445a;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.gruve-package-s input[type="radio"] {
  accent-color: #ea445a;
}

.gruve-package-s input[type="checkbox"] {
  accent-color: #ea445a;
}

.gruve-echo-coupon-top h3 {
  font-weight: 900;
  font-size: 18px;
  color: #2d2b4a;
}

.gruve-echo-coupon-top span {
  font-weight: 300;
  font-size: 18px;
  color: #666481;
  font-style: italic;
}

.gruve-echo-coupon-container {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.apply {
  color: #ea445a;
  font-weight: 900;
  cursor: pointer;
}

.gruve-package-s .gruve-echo-coupon-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.gruve-package-s .gruve-echo-coupon-input input {
  width: 100%;
  padding: 0;
  border: none;
  border-radius: 0;
  font-size: 1rem;
  outline: none;
}

.gruve-echo-questions-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.gruve-echo-questions-container h3 {
  font-weight: 900;
  font-size: 18px;
  color: #2d2b4a;
}

.gruve-echo-questionss {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.gruve-echo-question-card {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.gruve-echo-question-card label {
  font-size: 14px;
  font-weight: normal;
  color: #2d2b4a;
}

.gruve-echo-question-card > label > span {
  color: #ea445a;
}

.gruve-echo-form-cont {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.gruve-echo-form-cont label {
  color: #2d2b4a;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  font-weight: normal;
}

.gruve-echo-error-msg {
  color: #ea445a;
  font-size: 14px;
}

.gruve-echo-whatsapp-container {
  border: 1px solid #e1e1e8;
  border-radius: 8px;
}

.gruve-echo-code-input {
  padding: 0 8px;
  border-right: #e1e1e8 1px solid;
}

.gruve-package-s input:-internal-autofill-selected {
  appearance: menulist-button;
  background-image: none !important;
  background-color: transparent !important;
  color: fieldtext !important;
}

.gruve-echo-disable {
  color: #ed8593;
}
.gruve-echo-disable:hover {
  cursor: not-allowed;
}

.gruve-echo-toggle-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.gruve-echo-toggle-wrapper > span {
  color: #666481;
  font-size: 14px;
  margin-top: -10px;
}

.gruve-echo-toggle-switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
}

.gruve-echo-toggle-switch input {
  display: none;
}

.gruve-echo-slider {
  background-color: #ccc;
  border-radius: 34px;
  cursor: pointer;
  position: absolute;
  inset: 0;
  transition: 0.4s;
}

.gruve-echo-toggle-switch input:checked + .gruve-echo-slider {
  background-color: #ea445a;
}

.gruve-echo-toggle-switch input:checked + .gruve-echo-slider::before {
  transform: translateX(19px);
}

.gruve-echo-icon {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  pointer-events: none;
  transition: all 0.3s ease;
}

.gruve-echo-knob {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 2px;
  left: 2px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gruve-echo-toggle-switch input:checked + .gruve-echo-slider {
  background-color: #de919f;
}

.gruve-echo-toggle-switch input:checked + .gruve-echo-slider .gruve-echo-knob {
  transform: translateX(20px);
}

.gruve-echo-icon-wrapper {
  transition: opacity 0.3s ease, transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
