.form-group {
  padding-top: 20px;
}

.form-gr-t {
  padding-top: 16px;
}
.form-group label {
  display: block;
  font-size: 18px;
  font-weight: 900;
}

.form-group span {
  font-size: 14px;
  color: #666481;
  line-height: 20px;
}

.radio-options label {
  display: flex;
  align-items: center;
  gap: 4px;
}

input,
select,
textarea {
  padding: 0.75rem;
  border: 1px solid #e1e1e8;
  border-radius: 0.5rem;
  font-size: 14px;
  color: #666481;
}

.radio-options {
  display: flex;
  gap: 1rem;
  margin-top: 0.55rem;
}

.ticket-section {
  border: 1px solid #e1e1e8 !important;
  padding: 1rem !important;
  display: flex;
  flex-direction: column;
  gap: 24px;

  margin-top: 20px;
  margin-bottom: 4px;
  border-radius: 0.5rem;
}

.form-items {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.ticket-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-btn {
  background: none;
  display: flex;
  align-items: center;
  gap: 4px;
  color: #666481;
  border: none;
  cursor: pointer;
}

.whatsapp-input {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.whatsapp-input span {
  padding: 0.75rem;
  background: #f0f0f0;
  border-radius: 0.5rem;
}

.error-text {
  color: red;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.ctn-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding-top: 16px;
}
.ctn-container * {
  width: 50%;
  border-radius: 56px;
  height: 56px;
}

.go-back-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #e1e1e8;
}

.go-back-btn:hover {
  background: #f7f7f7;
  cursor: pointer;
  transition: 300ms ease-in-out;
}

.submit-btn {
  background-color: #ea445a;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

input[type="radio"] {
  accent-color: #ea445a;
}

.coupon-top h3 {
  font-weight: 900;
  font-size: 18px;
  color: #2d2b4a;
}

.coupon-top span {
  font-weight: 300;
  font-size: 18px;
  color: #666481;
  font-style: italic;
}

.coupon-container {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.apply {
  color: #ea445a;
  font-weight: 900;
  cursor: pointer;
}

.coupon-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.coupon-input input {
  width: 100%;
  padding: 0;
  border: none;
  border-radius: 0;
  font-size: 1rem;
  outline: none;
}

.questions-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.questions-container h3 {
  font-weight: 900;
  font-size: 18px;
  color: #2d2b4a;
}
.questionss {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.question-card {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.question-card label {
  font-size: 14px;
  font-weight: normal;
  color: #2d2b4a;
}
.question-card > label > span {
  color: #ea445a;
}

.form-cont {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-cont label {
  color: #2d2b4a;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  font-weight: normal;
}

.error-msg {
  color: #ea445a;
  font-size: 14px;
}

.whatsapp-container {
  border: 1px solid #e1e1e8;
  border-radius: 8px;
}

.code-input {
  padding: 0 8px;
  border-right: #e1e1e8 1px solid;
}

input:-internal-autofill-selected {
  appearance: menulist-button;
  background-image: none !important;
  background-color: transparent !important;
  color: fieldtext !important;
}

.disable {
  color: #ed8593;
}
.disable:hover {
  cursor: not-allowed;
}

.toggle-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.toggle-wrapper > span {
  color: #666481;
  font-size: 14px;
  margin-top: -10px;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
}

.toggle-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  border-radius: 34px;
  cursor: pointer;
  position: absolute;
  inset: 0;
  transition: 0.4s;
}

.toggle-switch input:checked + .slider {
  background-color: #ea445a;
}

.toggle-switch input:checked + .slider::before {
  transform: translateX(19px);
}

.icon {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  pointer-events: none;
  transition: all 0.3s ease;
}

.knob {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 2px;
  left: 2px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-switch input:checked + .slider {
  background-color: #de919f;
}

.toggle-switch input:checked + .slider .knob {
  transform: translateX(20px);
}

.icon-wrapper {
  transition: opacity 0.3s ease, transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
