.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .modal-content {
  background-color: white;
  padding: 2rem;
  max-width: 500px;
  width: 90%;
  border-radius: 8px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
} */

.modal-body {
  padding: 0;
}

.modal-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.modal-heading {
  font-size: 24px;
  margin-top: 2rem;
  margin-bottom: 8px;
  font-weight: 900;
  color: #111021;
  /* padding: 0 2rem; */
}

.modal-text {
  margin-bottom: 1.5rem;
  font-size: 14px;
  color: #666481;
}

.modal-buttons {
  width: 100%;
  font-size: 0.875rem;
}

.btn {
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-share {
  background-color: #222;
  color: white;
}

.btn-outline {
  background-color: transparent;
  border: 2px solid #222;
  color: #222;
}

.btn-outline:hover {
  background-color: #f4f4f4;
}

.sign-in-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.sign-in-button div {
  font-weight: 900;
  color: #fbfbfd;
  width: 204px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  background: #ea445a;
  border-radius: 56px;
}

.sign-in-button div:hover {
  cursor: pointer;
  transition: ease-in;
  transition-duration: 300ms;
  background: #df6979;
}
