.container-style {
  background: #000;
  color: white;
}

.event-details-btn {
  background: #ea445a;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 120px;
  padding: 8px 20px;
  border-radius: 10px;
}
.event-details-btn:hover {
  background: #f690a2;
  cursor: pointer;
  transition: ease-in 300ms;
}
