.gruve-event-details-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 8px 20px !important;
  border-radius: 10px;
}
.gruve-event-details-btn:hover {
  background: #f690a2;
  cursor: pointer;
  transition: ease-in 300ms;
}
